<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Harbor View University</title>
</head>
<body>
    <link rel="stylesheet" href="~/Content/DropDownMenu.css" />
    <div class="container">
        <header>
            <img src="~/Content/HVU Logo.png" class="logo" alt="HVU Logo">
            <hr />
            <ul>
                <li>
                @Html.ActionLink("Home", "ResearcherHome", "Researcher")
                </li>
                <li>
                    @Html.ActionLink("Students by Major", "StudentsByDegreeSelector", "Researcher")
                </li>
                <li class="active">
                    @Html.ActionLink("Log Out", "Index", "Home")
                </li>
            </ul>
        </header>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;Harbor View University</p>
        </footer>
    </div>

</body>
</html>