<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Harbor View University</title>
</head>
<body>
    <link rel="stylesheet" href="~/Content/DropDownMenu.css" />
    <div class="container">
        <header>
            <img src="~/Content/HVU Logo.png" class="logo" alt="HVU Logo">
            <ul>
                <li>
                    @Html.ActionLink("Home", "AdminHome", "Administrator")
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)">Master Catalog</a>
                    <div class="dropdown-content">
                        @Html.ActionLink("Add Course", "AddCourseOptions", "Administrator")
                        @Html.ActionLink("Update Course", "RegisterForClassesSelector", "Administrator")
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)">Master Schedule</a>
                    <div class="dropdown-content">
                        @Html.ActionLink("Add Section", "SearchSection", "Administrator")
                        @Html.ActionLink("Update Section", "RegisterForClassesSelector", "Administrator")
                        @Html.ActionLink("Search All Sections", "SearchMasterScheduleSelector", "Administrator")
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)">Faculty Academics</a>
                    <div class="dropdown-content">
                        @Html.ActionLink("View Schedule History", "ViewFacultyScheduleSelector", "Administrator")
                        @Html.ActionLink("View Advisor Details", "ViewAnAdvisorAviseeListSelector", "Administrator")
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)">Student Academics</a>
                    <div class="dropdown-content">
                        @Html.ActionLink("Update Hold", "ViewStudentHoldSelector", "Administrator")
                        @Html.ActionLink("Update Grade", "RegisterForClassesSelector", "Administrator")
                        @Html.ActionLink("Update Information", "RegisterForClassesSelector", "Administrator")
                        @Html.ActionLink("View Transcript", "ViewTranscriptSelector", "Administrator")
                        @Html.ActionLink("View Degree Audit", "RegisterForClassesSelector", "Administrator")
                        @Html.ActionLink("View Schedule By ID", "ViewStudentScheduleSelector", "Administrator")
                    </div>
                </li>
                <li class="active">
                    @Html.ActionLink("Log Out", "Index", "Home")
                </li>
            </ul>
        </header>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;Harbor View University</p>
        </footer>
    </div>

</body>
</html>