<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Harbor View University</title>
</head>
<body>
    <link rel="stylesheet" href="~/Content/DropDownMenu.css" />
    <div class="container">
        <header>
            <img src="~/Content/HVU Logo.png" alt="HVU Logo">
            <hr />
            <ul>
                <li>
                @Html.ActionLink("Home", "FacultyHome", "Faculty")
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)">Faculty Academics</a>
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            @if (Session["userID"] != null)
                            {
                                @*@Html.ActionLink("View Semester History", "SearchSection", "Student")*@
                            }
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Student Academics</a>
                    <div class="dropdown-content">
                        @if (Session["userID"] != null)
                        {
                            @Html.ActionLink("View Hold", "ViewHoldSelector", "Faculty")
                            @Html.ActionLink("View Schedule", "", "Faculty")
                        }
                    </div>
                </li>
                <li class="active">
                    @Html.ActionLink("Log Out", "Index", "Home")
                </li>
            </ul>
        </header>
    </div>

    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;Harbor View University</p>
        </footer>
    </div>

</body>
</html>