@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<body>
    <link rel="stylesheet" href="~/Content/logIn.css" />
    <div class="container">
    </div>
    <div class="container body-content">
        <div class="boxed">
            <div class="container">
                <header>
                    <img src="~/Content/HVULogoLogIn.png" alt="HVU Logo">
                    <hr />
                </header>
            </div>
            <h2 align="center">Login</h2>
            <div align="center" id="input">
                @using (Html.BeginForm("LogIn", "Home", FormMethod.Post))
                {
                    <label id="email_label">Email: </label>
                    @Html.TextBox("email", null, new { @autocomplete = "off" })
                    <br />
                    <label id="password_label">Password: </label>
                    @Html.Password("password", null, new { @autocomplete = "off" })
                    <br />
                    <input type="submit" id="submit" value="submit" />
                    <div id="test_div"></div>
                }
            </div>
            <div>
                @TempData["msg"]
            </div>
            <div id="catalog_link">
                @Html.ActionLink("Course Catalog", "Catalog", "Catalog")
                <!--(link text, controller method name, controller name)-->
            </div>
            <div id="pw_link">
                @Html.ActionLink("Change Password", "ChangePassword", "Password")
            </div>
            <div id="schedule_link">
                @Html.ActionLink("Master Schedule", "SearchMasterScheduleSelector", "Catalog")
            </div>

        </div>
    </div>
</body>