@model List<WebApplication3.HelperClasses.Section>
<table class="results">
    <tr class="header">
        <td>Section:</td>
        <td>Course:</td>
        <td>Course Name:</td>
        <td>Professor</td>
        <td>Days</td>
        <td>Time</td>
        <td>Semester</td>
        <td>Year</td>
        <td>Building</td>
        <td>Room</td>
    </tr>
    @foreach (var sectionInfo in Model)
    {
        <tr>
            <td>@sectionInfo.sectionID</td>
            <td>@sectionInfo.courseID</td>
            <td>@sectionInfo.courseName</td>
            <td>@sectionInfo.professorName</td>
            <td>@sectionInfo.days</td>
            <td>@sectionInfo.startTime-@sectionInfo.endTime</td>
            <td>@sectionInfo.semester</td>
            <td>@sectionInfo.year</td>
            <td>@sectionInfo.building</td>
            <td>@sectionInfo.room</td>
        </tr>
    }
</table>
