@using WebApplication3.HelperClasses;
@model SectionSearchHelper
@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    ViewBag.Title = "Search Sections";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/searchTable.css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <form method="post">
            <table class="searchTable">
                <tr>
                    <td >
                        <label id="inputLabel"><big><strong>Search:</strong></big></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="course_id" placeholder="Course ID" />
                        <input type="text" name="course_name" placeholder="Course Name" />
                        <input type="text" name="instructor" placeholder="Instructor" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <select id="departmentSelector" name="departmentSelector">
                            <option value="startselection">---Department---</option>
                            @foreach (var v in Model.departments)
                            {
                                <option value="@v">@v</option>
                            }
                        </select>
                        <select id="daySelector" name="daySelector">
                            <option value="startselection">---Days---</option>
                            @foreach (var v in Model.days)
                            {
                                <option value="@v">@v</option>
                            }
                        </select>
                        <select id="timeSelector" name="timeSelector">
                            <option value="startselection">---Time---</option>
                            @foreach (var v in Model.times)
                            {
                                <option value="@v">@v</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <select id="semesterSelector" name="semesterSelector" required>
                            <option value="startselection">---Semester---</option>
                            @foreach (var v in Model.semesters)
                            {
                                <option value="@v">@v</option>
                            }
                        </select>
                        <select id="yearSelector" name="yearSelector" required>
                            <option value="startselection">---Year---</option>
                            @foreach (var v in Model.years)
                            {
                                <option value="@v">@v</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        <input type="submit" id="submit" value="Search" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        //selectorDisplay();
        //function selectorDisplay() {
        //    var selector = document.getElementById("type");
        //    var deptSel = document.getElementById("departmentSelector");
        //    var daySel = document.getElementById("daySelector");
        //    var timeSel = document.getElementById("timeSelector");
        //    var inputLabel = document.getElementById("inputLabel");
        //    var inputBox = document.getElementById("inputBox");
        //    console.log(selector.options[selector.selectedIndex].value)
        //    if (selector.options[selector.selectedIndex].value == "days") {
        //        daySel.hidden = false;
        //        timeSel.hidden = true;
        //        deptSel.hidden = true;
        //        inputBox.hidden = true;
        //        inputLabel.hidden = true;
        //    } else if (selector.options[selector.selectedIndex].value == "start_time") {
        //        daySel.hidden = true;
        //        timeSel.hidden = false;
        //        deptSel.hidden = true;
        //        inputBox.hidden = true;
        //        inputLabel.hidden = true;
        //    } else if (selector.options[selector.selectedIndex].value == "department_full_name") {
        //        daySel.hidden = true;
        //        timeSel.hidden = true;
        //        deptSel.hidden = false;
        //        inputBox.hidden = true;
        //        inputLabel.hidden = true;
        //    } else {
        //        daySel.hidden = true;
        //        timeSel.hidden = true;
        //        deptSel.hidden = true;
        //        inputBox.hidden = false;
        //        inputLabel.hidden = false;
        //    }
        //}
    </script>
    @{
        if (IsPost)
        {
            String semester = Request.Form["semesterSelector"];
            String year = Request.Form["yearSelector"];
            String instructor = Request["instructor"];
            String days = Request.Form["daySelector"];
            if (days.Equals("startselection"))
            {
                days = "";
            }
            String time = Request.Form["timeSelector"];
            if (time.Equals("startselection"))
            {
                time = "";
            }
            String courseID = Request["course_id"];
            String courseName = Request["course_name"];
            String department = Request.Form["departmentSelector"];
            if (department.Equals("startselection"))
            {
                department = "";
            }

            @Html.Action("SearchSectionResults", "Student", new {searchSemester = semester, searchYear = year, instructor = instructor, days = days, time = time, courseID = courseID, courseName = courseName, department = department });

        }
    }
</body>
</html>
