@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Student Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>Student Home</title>
    <link rel="stylesheet" href="~/Content/student.css">
</head>

<body>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">Registration</a>
            <div class="dropdown-content">
                @Html.ActionLink("Search Sections", "SearchSection", "Student")
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Academics</a>
            <div class="dropdown-content">
                @if (TempData["userID"] != null)
                {
                    @Html.ActionLink("View Holds", "ViewHolds", "Student", new { userID = TempData["UserID"].ToString() }, null)
                    @Html.ActionLink("View Advisors", "ViewAdvisor", "Student", new { userID = TempData["UserID"].ToString() }, null)
                }
            </div>
        </li>
        <li><a href=#audit>Degree Audit</a></li>
    </ul>
    <p>
    @{
        @Html.Raw("<text>Your ID: </text>")
        if (TempData.ContainsKey("UserID")) {
            @Html.Raw(TempData["UserID"].ToString())
        } else
        {
            @Html.Raw("ERROR")
        }
    }
    </p>

</body>
</html>