@{
                /**/

                Layout = "~/Views/Shared/_LayoutStudent.cshtml";
                ViewBag.Title = "Student Home";
}

<html>
<head>
    <title>Student Home</title>
    <link rel="stylesheet" href="~/Content/student.css">
</head>

<body>
    @{
        @Html.Raw("<br /><text>Your ID: </text>")
        if (Session["UserID"] != null)
        {
            @Html.Raw(Session["UserID"].ToString())
        }
        else
        {
            @Html.Raw("ERROR")
        }
    }

    @{
        if (Session["UserID"] != null)
        {
            @Html.Action("ViewCurrentSchedule", "Student", new { userID = Session["UserID"], year = WebApplication3.HelperClasses.SemesterDataHelper.getSemesterYear(), semester = @WebApplication3.HelperClasses.SemesterDataHelper.getSemesterSeason() })
        }
    }
</body>
</html>