@{
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    ViewBag.Title = "Student Home";
}

<!DOCTYPE html>
<html>
<head>
    <title>Student Home</title>
    <link rel="stylesheet" href="~/Content/student.css">
</head>

<body>
    @{
        @Html.Raw("<br /><text>Your ID: </text>")
        if (Session["UserID"] != null)
        {
            @Html.Raw(Session["UserID"].ToString())
        }
        else
        {
            @Html.Raw("ERROR")
        }
    }
    <table style="width:98%;">
        <tr>
            <td style="width:50%;">
                @{
                    if (Session["UserID"] != null)
                    {
                        @Html.Action("ViewCurrentSchedule", "Student", new { userID = Session["UserID"], year = WebApplication3.HelperClasses.CurrentSemester.getSemesterYear(), semester = @WebApplication3.HelperClasses.CurrentSemester.getSemesterSeason() })
                    }
                }

            </td>
            <td></td>
        </tr>
    </table>
</body>
</html>