@using WebApplication3.HelperClasses;
@model AddCourse

@{
    ViewBag.Title = "AddCourseOptions";
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}


<link rel="stylesheet" href="~/Content/Background.css" />

<form name="addCourse" method="post">
    <div>
        <table class="dataTable" id="lines">
            <tr>
                <td><strong>Department:</strong> </td>
                <td>
                    <select id="departmentSelector" name="departmentSelector">
                        <option value="default">---Select---</option>
                        @foreach (var dept in Model.departments)
                        {
                            <option value="@dept">@dept.departmentFullName</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td><strong>Major:</strong> </td>
                <td>
                    <select id="majorSelector" name="majorSelector">
                        <option value="default">---Select---</option>
                        @foreach (var major in Model.majors)
                        {
                            <option value="@major">@major.name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>Minor:</strong> </td>
                <td>
                    <select id="minorSelector" name="minorSelector">
                        <option value="default">---Optional---</option>
                        @foreach (var minor in Model.minors)
                        {
                            <option value="@minor">@minor.name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>Course Number:</strong> </td>
                <td><input type="text" name="courseNumber" value=""></td>
            </tr>
            <tr>
                <td><strong>Course Name:</strong> </td>
                <td><input type="text" name="courseName" value=""></td>
            </tr>
            <tr>
                <td><strong>Number of Credits:</strong> </td>
                <td>
                    <select id="creditSelector" name="creditSelector">
                        <option value="default">---Select---</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong> Is This An Elective:</strong> </td>
                <td>
                    <select id="elective" name="electiveSelector">
                        <option value="default">---Select---</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>Is This A Graduate Course:</strong> </td>
                <td>
                    <select id="grad" name="gradSelector">
                        <option value="default">---Select---</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong> Description:</strong> </td>
                <td><textarea rows="5" cols="50" name="desc" form="desc"></textarea></td>
            </tr>
        </table>
    </div>

    <div>
        <table>
            <tr>
                <td><strong>Add Prerequisites for this course:</strong> </td>
                <td><input type="text" name="pr1" value="" placeholder="(OPTIONAL)"></td>
                <td><input type="text" name="pr2" value="" placeholder="(OPTIONAL)"></td>
            </tr>
            <tr>
                <td><strong>Add Courses this is a prerequisite for:</strong> </td>
                <td><input type="text" name="cr1" value="" placeholder="(OPTIONAL)"></td>
                <td><input type="text" name="cr2" value="" placeholder="(OPTIONAL)"></td>
            </tr>
            <tr>
                <td><strong> Is this course a major requirement:</strong> </td>
                <td>
                    <select id="majorReq" name="majorReq">
                        <option value="select">---Select---</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong> Is this course a minor requirement:</strong> </td>
                <td>
                    <select id="minReq" name="minReq">
                        <option value="select">---Select---</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="submit" value="Submit" />
                </td>
            </tr>
        </table>
    </div>
</form>

    @{
        if (IsPost)
        {
            String department = Request.Form["departmentSelector"];
            String major = Request.Form["majorSelector"];
            String minor = Request.Form["minorSelector"];
            String courseNumber = Request.Form["courseNumber"];
            String courseName = Request.Form["courseName"];
            String credits = Request.Form["creditSelector"];
            String isElective = Request.Form["electiveSelector"];
            String isGrad = Request.Form["gradSelector"];
            String description = Request.Form["desc"];
            String pr1 = Request.Form["pr1"];
            String pr2 = Request.Form["pr2"];
            String cr1 = Request.Form["cr1"];
            String cr2 = Request.Form["cr2"];
            String isMajorReq = Request.Form["majorReq"];
            String isMinorReq = Request.Form["minReq"];

            AddCourse addcourseFormDetails = new AddCourse(department, major, minor, courseNumber,
                courseName, credits, isElective, isGrad, description,
                pr1, pr2, cr1, cr2, isMajorReq, isMinorReq);

            @Html.Action("AddCourse", "Administrator", new { form = addcourseFormDetails });

        }
    }


