@using WebApplication3.HelperClasses;
@model List<Course>

@{
    ViewBag.Title = "EditMajorSelector";
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<link rel="stylesheet" href="~/Content/Background.css" />
@*<div>
    @using (Html.BeginForm("EditMajor", "Administrator", FormMethod.Post, new { courseID = Request.Form["courseSelector"] }))
    {
        <table>
            <tr>
                <td><strong>Major:</strong> </td>
                <td>
                    <select id="courseSelector" name="courseSelector" required>
                        <option value="">---Select---</option>
                        @foreach (var c in Model)
                        {
                            <option value="@c.id">@c.courseName</option>
                        }
                    </select>
                </td>
                <td>
                    @Html.Hidden("courseID", Request.Form["courseSelector"])
                    <input type="submit" id="submit" value="Submit" />
                </td>
            </tr>
        </table>
    }
</div>*@

<form name="editCourse2" method="post">
    <div>
        <table>
            <tr>
                <td><strong>Courses:</strong> </td>
                <td>
                    <select id="courseSelector" name="courseSelector" required>
                        <option value="">---Select---</option>
                        @foreach (var c in Model)
                        {
                            <option value="@c.id">@c.courseName</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>Course Type:</strong> </td>
                <td>
                    <select id="courseAtrSelector" name="courseAtrSelector" required>
                        <option value="default">---Select---</option>
                        <option value="Required">Required</option>
                        <option value="Elective">Elective</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="submit" value="Update" />
                </td>
            </tr>
           
        </table>
    </div>
</form>

@{
    if (IsPost)
    {
        String majorID = Request.Form["majorSelector"];
        //Major major = new Major(majorID);
        Response.Redirect(Url.Action("EditMajorResult", "Administrator", new { courseID = Request.Form["courseSelector"], courseAttr = Request.Form["courseAtrSelector"] }));
    }
}

