@using WebApplication3.HelperClasses;
@model UpdateSectionHelper
@{
    Layout = null;
}

@{
    List<SelectListItem> timesList = new List<SelectListItem>();
    timesList.Add(new SelectListItem { Value = "", Text = "Start Time" });
    foreach (var v in Model.times)
    {
        timesList.Add(new SelectListItem { Value = v, Text = v });
    }
    List<SelectListItem> professorList = new List<SelectListItem>();
    professorList.Add(new SelectListItem { Value = "", Text = "Instructor" });
    foreach (var v in Model.professors)
    {
        professorList.Add(new SelectListItem { Value = v, Text = v });
    }

    //Create list of selectable days - first day
    List<SelectListItem> days1 = new List<SelectListItem>();
    days1.Add(new SelectListItem { Value = "", Text = "Day1", Selected = true });
    days1.Add(new SelectListItem { Value = "M", Text = "M" });
    days1.Add(new SelectListItem { Value = "T", Text = "T" });
    days1.Add(new SelectListItem { Value = "W", Text = "W" });
    days1.Add(new SelectListItem { Value = "R", Text = "R" });
    days1.Add(new SelectListItem { Value = "F", Text = "F" });
    //Create list of selectable days - second day
    List<SelectListItem> days2 = new List<SelectListItem>();
    days2.Add(new SelectListItem { Value = "", Text = "Day2", Selected = true });
    days2.Add(new SelectListItem { Value = "M", Text = "M" });
    days2.Add(new SelectListItem { Value = "T", Text = "T" });
    days2.Add(new SelectListItem { Value = "W", Text = "W" });
    days2.Add(new SelectListItem { Value = "R", Text = "R" });
    days2.Add(new SelectListItem { Value = "F", Text = "F" });
    //Create list of selectable days - second day
    List<SelectListItem> days3 = new List<SelectListItem>();
    days3.Add(new SelectListItem { Value = "", Text = "Day3", Selected = true });
    days3.Add(new SelectListItem { Value = "M", Text = "M" });
    days3.Add(new SelectListItem { Value = "T", Text = "T" });
    days3.Add(new SelectListItem { Value = "W", Text = "W" });
    days3.Add(new SelectListItem { Value = "R", Text = "R" });
    days3.Add(new SelectListItem { Value = "F", Text = "F" });
}

<table>
    <tr>
        <td>
            <strong>Instructor: </strong>
            @Html.DropDownList("professor", professorList, new { required = "required" })
        </td>
    </tr>
    <tr>
        <td>
            <strong>Days: </strong>
            @Html.DropDownList("d1", days1, new { required = "required", @id = "d1", onchange = "d1Change()" })
            @Html.DropDownList("d2", days2, new { @id = "d2", style = "display:none;", onchange = "d2Change()" })
            @Html.DropDownList("d3", days3, new { @id = "d3", style = "display:none;" })
        </td>
    </tr>
    <tr>
        <td><strong>Start Time: </strong>@Html.DropDownList("time", timesList, new { required = "required", @id = "startTime" })</td>
    </tr>
</table>
