@model List<WebApplication3.HelperClasses.FacultySchedule>
@{
    Layout = null;
}

<div>
    <link rel="stylesheet" href="~/Content/TableTemplate.css" />
    <table class="resultsTable">
        <tr class="tableheader">
            <th>Course Name</th><th> Days</th><th> Time </th>
            <th>  Semester </th> <th> Year </th><th> Building</th><th> Room</th>
        </tr>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.courseName</td><td>@v.days</td><td>@v.startTime-@v.endTime</td> <td>@v.semester</td>
                <td>@v.year</td><td>@v.building</td><td>@v.room</td>
            </tr>
        }
    </table>
</div>